.login-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /*background-color: #f4f4f4;*/
    background-color: var(--color-5);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--texto-color-1);
    /* Centrar el formulario en el medio de la pantalla */
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid var(--texto-color-14);
    transform: translate(-50%, -50%); /* Mover el formulario al centro */
    text-align: center;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container label {
    margin-bottom: 5px;
    display:block;
    text-align: left;
    font-weight: bold;
  }
  
  .login-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--texto-color-1);
    border-radius: 4px;
    width: 300px;
    /*text-align: center;*/
  }
  
  .login-container button {
    padding: 10px;
    /*background-color: #4CAF50;*/
    background-color: var(--texto-color-1);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: var(--texto-color-14);
  }
  
  .error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
  }
  .password-container {
    position: relative; /* Contenedor relativo para colocar el icono de manera absoluta */
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  
  .password-container input {
    width: calc(100% - 40px); /* Reducir el ancho para hacer espacio para el ícono */
    padding-right: 30px; /* Espacio adicional para el ícono a la derecha */
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 10px; /* Posicionar el icono al final del campo */
    top: 50%;
    transform: translateY(-80%);
    cursor: pointer;
  }

  .change-password {
    padding: 0px;
    margin: 0px;
  }