.reset-password-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--texto-color-8);
    border-radius: 8px;
    color: var(--success);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Centrar el formulario en el medio de la pantalla */
    position: absolute;
    top: 40%;
    left: 50%;
    border: 4px solid var(--success);
    transform: translate(-50%, -50%); /* Mover el formulario al centro */
    text-align: center;
  }
  
  .reset-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .reset-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-container form div {
    margin-bottom: 15px;
  }
  
  .reset-password-container label {
    margin-bottom: 5px;
    display:block;
    text-align: left;
    font-weight: bold;
  }
  
  .reset-password-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--texto-color-15);
    border-radius: 4px;
    width: 95%;
    margin-top: 5px;
  }
   
  .reset-password-container .back-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .reset-password-container .back-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .reset-password-container .back-link a:hover {
    text-decoration: underline;
  }
  .requisitos {
    background-color: var(--texto-color-2);
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    border: 1px solid var(--texto-color-15);
    font-family: var(--font-family);
    font-size: 15px;
  }
  
  .requisitos p {
    font-weight: bold;
  }
  
  .requisitos ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .requisitos li {
    font-size: 14px;
    color: #555;
  }
  
  .back-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .back-link a:hover {
    text-decoration: underline;
  }

  .password-container {
    position: relative; /* Contenedor relativo para colocar el icono de manera absoluta */
  }
  
  .password-container input {
    width: calc(100% - 40px); /* Reducir el ancho para hacer espacio para el ícono */
    padding-right: 30px; /* Espacio adicional para el ícono a la derecha */
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 10px; /* Posicionar el icono al final del campo */
    top: 50%;
    transform: translateY(-80%);
    cursor: pointer;
  }