
.update-task-container {    
  display: flex;         /* Usar inline-flex */
  flex-direction: column;            /* Alinear los elementos en columna */
  justify-content: center;           /* Centrar los elementos verticalmente */
  align-items: center;               /* Centrar los elementos horizontalmente */
  text-align: center;
}

  .update-card{
    width: 50%;
    padding: 20px;
    background-color: var(--color-6);
    border-radius: 8px;
    border: 4px solid var(--success);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  form div {
    margin-bottom: 20px;
  }
  .update-task-container label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: var(--texto-color-15)
  }
  form input,
  form select,
  form textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid var(--texto-color-15);
    border-radius: 4px;
    color: var(--success)
  }
  @media (max-width: 496px) {
    .update-card{
      width: 80%;
    }
  }
