.create-user-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--color-4);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .create-user-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid var(--texto-color-6);
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: var(--texto-color-6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: var(--texto-color-10);
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
  }
  
  .success-message {
    color: green;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
  }
  .task-button{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
