.tasks-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .tasks-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .task-card {
    background: var(--color-4);
    padding: 15px;
    /*margin: 10px 0;*/
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task-card h3 {
    margin: 0;
  }
  
  .task-card p {
    font-size: 14px;
    color: #555;
  }
  
  .status {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
  }
  .task-button{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  button{
    padding: 10px 20px;
    background-color: var(--texto-color-1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .status.pendiente {
    background: orange;
    color: white;
  }
  
  .status.completada {
    background: green;
    color: white;
  }
  
  .status.en-progreso {
    background: blue;
    color: white;
  }

  /*Estilos de Filters*/
  .filters {
    margin-bottom: 20px;
  }
  
  .filters input, .filters select {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filters input {
    width: 200px;
  }
  
  .filters select {
    width: 150px;
  }
/* Eliminar subrayado de los enlaces */
.no-underline {
  text-decoration: none;
}

.no-underline:visited {
  color: inherit;
}
